// Fonts
$base-font-size: 16px;
$image-path: '../images/';
$font-family-primary: 'Trebuchet MS', Tahoma, Arial;
$font-family-secondary: Tahoma, Arial;
$font-family-third: sans-serif;

// Colors
$color-white: #FFF;
$color-black: #000;
$color-grey: #888;
$color-grey-dark: #aaa;
$color-grey-light: #f1f1f1;
$color-yellow: #f09021;
$color-red: red;
$color-blue: #1145BC;
$color-transparent: rgba(0, 0, 0, 0);
$color-transparent-semi-light: rgba(255, 255, 255, 0.25);

$bg-color-primary: #666;
$font-color-primary: $color-grey-light;
$font-color-secondary: $color-grey;

$color-loader: $color-red;
